.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: black;
    line-height: 51px;
    font-size: 36px;
    transition: opacity 0.5s linear;
}
.feinman__link:hover {
    opacity: 0.5;
}